<div class="modal-header">
    <h3 class="modal-title">{{modalConfig['title']}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalConfig['body']}} {{remainingSecondsToAutoTimeout}}</p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md" *ngIf="modalConfig['buttons']['logout']">
        <button type="button" class="btn btn-primary" (click)="activeModal.close('logout')">{{modalConfig['buttons']['logout']}}</button>
      </div>
  
      <div class="col-md" *ngIf="modalConfig['buttons']['continue']">
        <button type="button" class="btn btn-primary" (click)="activeModal.close('continue')">{{modalConfig['buttons']['continue']}}</button>
      </div>
    </div>
  </div>